.container {
  max-width: 900px;
  margin: 48px auto;
  padding: 16px;
  background: var(--card);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.undo-redo {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin: 12px;
}

.history {
  border: 2px solid #333;
  max-width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  min-width: 400px;
}

.counters {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.stepper {
  display: flex;
  flex-direction: row;
  row-gap: 8px;
}

.counter {
  font-size: x-large;
}

.delta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}