.fourContainer {
  max-width: 900px;
  margin: 48px auto;
  padding: 16px;
  background: var(--card);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fourField {
  display: grid;
  gap: 8px;
  width: min(90vw, 900px);
  margin: 0px auto;
}

.board {
  gap: 8px;
}

.dropButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: white;
  font-size: clamp(14px, 2.5vw, 20px);
  padding: 4px;
  background-color: #111827;
}

.fourCell {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #111827;
  background-color: lightgray;
  padding: 4px;
}

.red {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  padding: 4px;
}

.yellow {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: yellow;
  padding: 4px;
}
