.container {
  max-width: 900px;
  margin: 48px auto;
  padding: 16px;
  background: var(--card);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 16px 0;
}

.modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position:  absolute;
  padding: 16px;
  width: 250px;
  top: 70px; 
  left: calc(50% - 125px);
}
